<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="zend-expressive: PSR-7 Middleware Microframework">  
    <link rel="shortcut icon" href="../../../img/favicon.ico">

    <title>Template Renderer Interface - Expressive</title>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw=" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.6.3/css/font-awesome.min.css" integrity="sha256-AIodEDkC8V/bHBkfyxzolUMw57jeQ9CauwhVW6YJ9CA=" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../css/styles-482aa2add1.css">
        <link href="../../../css/zend-expressive.css" rel="stylesheet">

    
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <span class="navbar-brand">
              <a class="logo-link" href="http://framework.zend.com" data-toggle="tooltip" data-placement="bottom" title="Zend Framework"><img src="../../../img/zf-logo-mark.svg" height="28" alt="Zend Framework" /></a>
              <a href="../../..">Expressive</a>
            </span>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="../../..">Home</a>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../getting-started/features/">Overview and Features</a>
</li>

                        
                            
<li >
    <a href="../../../getting-started/standalone/">Quick Start: Standalone</a>
</li>

                        
                            
<li >
    <a href="../../../getting-started/skeleton/">Quick Start: Skeleton Installer</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../middleware-types/">Middleware Types</a>
</li>

                        
                            
<li >
    <a href="../../application/">Applications</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Containers</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../container/intro/">Introduction</a>
</li>

        
            
<li >
    <a href="../../container/factories/">Container Factories</a>
</li>

        
            
<li >
    <a href="../../container/delegator-factories/">Delegator Factories</a>
</li>

        
            
<li >
    <a href="../../container/zend-servicemanager/">Using zend-servicemanager</a>
</li>

        
            
<li >
    <a href="../../container/pimple/">Using Pimple</a>
</li>

        
            
<li >
    <a href="../../container/aura-di/">Using Aura.Di</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Routing Adapters</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../router/intro/">Introduction</a>
</li>

        
            
<li >
    <a href="../../router/interface/">Routing Interface</a>
</li>

        
            
<li >
    <a href="../../router/uri-generation/">URI Generation</a>
</li>

        
            
<li >
    <a href="../../router/piping/">Routing vs Piping</a>
</li>

        
            
<li >
    <a href="../../router/aura/">Using Aura</a>
</li>

        
            
<li >
    <a href="../../router/fast-route/">Using FastRoute</a>
</li>

        
            
<li >
    <a href="../../router/zf2/">Using the ZF2 Router</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Templating</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../intro/">Introduction</a>
</li>

        
            
<li class="active">
    <a href="./">Template Renderer Interface</a>
</li>

        
            
<li >
    <a href="../middleware/">Templated Middleware</a>
</li>

        
            
<li >
    <a href="../plates/">Using Plates</a>
</li>

        
            
<li >
    <a href="../twig/">Using Twig</a>
</li>

        
            
<li >
    <a href="../zend-view/">Using zend-view</a>
</li>

        
    </ul>
  </li>

                        
                            
<li >
    <a href="../../error-handling/">Error Handling</a>
</li>

                        
                            
<li >
    <a href="../../modular-applications/">Modular Applications</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Middleware</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../middleware/implicit-methods-middleware/">Implicit HEAD and OPTIONS Middleware</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Helpers</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../helpers/intro/">Introduction</a>
</li>

        
            
<li >
    <a href="../../helpers/url-helper/">UrlHelper</a>
</li>

        
            
<li >
    <a href="../../helpers/server-url-helper/">ServerUrlHelper</a>
</li>

        
            
<li >
    <a href="../../helpers/body-parse/">Body Parsing Middleware</a>
</li>

        
            
<li >
    <a href="../../helpers/content-length/">Content-Length Middleware</a>
</li>

        
    </ul>
  </li>

                        
                            
<li >
    <a href="../../emitters/">Emitters</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cookbook <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../cookbook/autowiring-routes-and-pipelines/">Autowiring routes and pipeline middleware</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/common-prefix-for-routes/">Prepending a common path to all routes</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/route-specific-pipeline/">Route-specific middleware pipelines</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/custom-404-page-handling/">Setting custom 404 page handling</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/using-custom-view-helpers/">Registering custom view helpers when using zend-view</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/using-zend-form-view-helpers/">Using zend-form view helpers</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/using-a-base-path/">Using Expressive from a subdirectory</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/modular-layout/">Building modular applications</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/setting-locale-depending-routing-parameter/">Setting a locale based on a routing parameter</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/setting-locale-without-routing-parameter/">Setting a locale without a routing parameter</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/debug-toolbars/">Enabling debug toolbars</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/using-routed-middleware-class-as-controller/">Handling multiple routes in a single class</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/flash-messengers/">Flash Messengers</a>
</li>

                        
                            
<li >
    <a href="../../../cookbook/passing-data-between-middleware/">Passing data between middleware</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reference <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../why-expressive/">Why choose Expressive?</a>
</li>

                        
                            
<li >
    <a href="../../../reference/cli-tooling/">CLI Tooling</a>
</li>

                        
                            
<li >
    <a href="../../../reference/usage-examples/">Examples</a>
</li>

                        
                            
<li >
    <a href="../../../reference/expressive-projects/">Expressive Projects</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Migration</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../reference/migration/rc-to-v1/">From RC5 and Earlier</a>
</li>

        
            
<li >
    <a href="../../../reference/migration/to-v1-1/">To Expressive 1.1</a>
</li>

        
            
<li >
    <a href="../../../reference/migration/to-v2/">To Expressive 2.0</a>
</li>

        
    </ul>
  </li>

                        
                        </ul>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="component-toggle" data-toggle="tooltip" data-placement="bottom" title="Show component list">
                        <i class="fa fa-book"></i> Components
                    </a>
                </li>

                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                
                    <li>
                        <a href="https://github.com/zendframework/zend-expressive">
                            
                                <i class="fa fa-github"></i>
                            
                            GitHub
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>
</div>

    <!-- content:begin -->
    <div id="page-top" class="container docs">
        
        <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#the-template-renderer-interface">The Template Renderer Interface</a></li>
        
            <li><a href="#namespaces">Namespaces</a></li>
        
            <li><a href="#paths">Paths</a></li>
        
            <li><a href="#rendering">Rendering</a></li>
        
    
    </ul>

    
    <ul class="pager hidden-print">
      <li class="previous">
        <a rel="prev" href="../intro/"><i class="fa fa-arrow-left"></i> Previous</a>
      </li>
      <li class="next">
        <a rel="next" href="../middleware/">Next <i class="fa fa-arrow-right"></i></a>
      </li>
    </ul>
    
</div></div>
        <div class="col-md-9" role="main">

<ol class="breadcrumb" role="navigation" aria-label="breadcrumbs navigation">
  <li><a href="../../..">Expressive</a></li>
  
    
      
        <li>Features</li>
      
    
      
        <li>Templating</li>
      
    
  
  <li class="active">Template Renderer Interface</li>
</ol>

<h1 id="the-template-renderer-interface">The Template Renderer Interface</h1>
<p>Expressive defines <code>Zend\Expressive\Template\TemplateRendererInterface</code>, which can be
injected into middleware in order to create templated response bodies. The
interface is defined as follows:</p>
<pre class="codehilite"><code class="language-php">namespace Zend\Expressive\Template;

interface TemplateRendererInterface
{
    /**
     * Render a template, optionally with parameters.
     *
     * Implementations MUST support the `namespace::template` naming convention,
     * and allow omitting the filename extension.
     *
     * @param string $name
     * @param array|object $params
     * @return string
     */
    public function render($name, $params = []);

    /**
     * Add a template path to the engine.
     *
     * Adds a template path, with optional namespace the templates in that path
     * provide.
     *
     * @param string $path
     * @param string $namespace
     */
    public function addPath($path, $namespace = null);

    /**
     * Retrieve configured paths from the engine.
     *
     * @return TemplatePath[]
     */
    public function getPaths();

    /**
     * Add a default parameter to use with a template.
     *
     * Use this method to provide a default parameter to use when a template is
     * rendered. The parameter may be overridden by providing it when calling
     * `render()`, or by calling this method again with a null value.
     *
     * The parameter will be specific to the template name provided. To make
     * the parameter available to any template, pass the TEMPLATE_ALL constant
     * for the template name.
     *
     * If the default parameter existed previously, subsequent invocations with
     * the same template name and parameter name will overwrite.
     *
     * @param string $templateName Name of template to which the param applies;
     *     use TEMPLATE_ALL to apply to all templates.
     * @param string $param Param name.
     * @param mixed $value
     */
    public function addDefaultParam($templateName, $param, $value);
}</code></pre>

<blockquote>
<h3 id="namespaces">Namespaces</h3>
<p>Unfortunately, namespace syntax varies between different template engine
implementations. As an example:</p>
<ul>
<li>Plates uses the syntax <code>namespace::template</code>.</li>
<li>Twig uses the syntax <code>@namespace/template</code>.</li>
<li>zend-view does not natively support namespaces, though custom resolvers
  can provide the functionality.</li>
</ul>
<p>To make different engines compatible, we require implementations to support
the syntax <code>namespace::template</code> (where <code>namespace::</code> is optional) when
rendering. Additionally, we require that engines allow omitting the filename
suffix.</p>
<p>When using a <code>TemplateRendererInterface</code> implementation, feel free to use namespaced
templates, and to omit the filename suffix; this will make your code portable
and allow it to use alternate template engines.</p>
</blockquote>
<h2 id="paths">Paths</h2>
<p>Most template engines and implementations will require that you specify one or
more paths to templates; these are then used when resolving a template name to
the actual template. You may use the <code>addPath()</code> method to do so:</p>
<pre class="codehilite"><code class="language-php">$renderer-&gt;addPath('templates');</code></pre>

<p>Template engines adapted for zend-expressive are also required to allow
<em>namespacing</em> templates; when adding a path, you specify the template
<em>namespace</em> that it fulfills, and the engine will only return a template from
that path if the namespace provided matches the namespace for the path.</p>
<pre class="codehilite"><code class="language-php">// Resolves to a path registered with the namespace &quot;error&quot;;
// this example is specific to the Plates engine.
$content = $renderer-&gt;render('error::404');</code></pre>

<p>You can provide a namespace when registering a path via an optional second
argument:</p>
<pre class="codehilite"><code class="language-php">// Registers the &quot;error&quot; namespace to the path &quot;templates/error/&quot;
$renderer-&gt;addPath('templates/error/', 'error');</code></pre>

<h2 id="rendering">Rendering</h2>
<p>To render a template, call the <code>render()</code> method. This method requires the name
of a template as the first argument:</p>
<pre class="codehilite"><code class="language-php">$content = $renderer-&gt;render('foo');</code></pre>

<p>You can specify a namespaced template using the syntax <code>namespace::template</code>;
the <code>template</code> segment of the template name may use additional directory
separators when necessary.</p>
<p>One key reason to use templates is to dynamically provide data to inject in the
template. You may do so by passing either an associative array or an object as
the second argument to <code>render()</code>:</p>
<pre class="codehilite"><code class="language-php">$content = $renderer-&gt;render('message', [
    'greeting'  =&gt; 'Hello',
    'recipient' =&gt; 'World',
]);</code></pre>

<p>It is up to the underlying template engine to determine how to perform the
injections.</p>
<h3 id="default-params">Default params</h3>
<p>The <code>TemplateRendererInterface</code> defines the method <code>addDefaultParam()</code>. This
method can be used to specify default parameters to use when rendering a
template. The signature is:</p>
<pre class="codehilite"><code class="language-php">public function addDefaultParam($templateName, $param, $value)</code></pre>

<p>If you want a parameter to be used for <em>every</em> template, you can specify the
constant <code>TemplateRendererInterface::TEMPLATE_ALL</code> for the <code>$templateName</code>
parameter.</p>
<p>When rendering, parameters are considered in the following order, with later
items having precedence over earlier ones:</p>
<ul>
<li>Default parameters specified for all templates.</li>
<li>Default parameters specified for the template specified at rendering.</li>
<li>Parameters specified when rendering.</li>
</ul>
<p>As an example, if we did the following:</p>
<pre class="codehilite"><code class="language-php">$renderer-&gt;addDefaultParam($renderer::TEMPLATE_ALL, 'foo', 'bar');
$renderer-&gt;addDefaultParam($renderer::TEMPLATE_ALL, 'bar', 'baz');
$renderer-&gt;addDefaultParam($renderer::TEMPLATE_ALL, 'baz', 'bat');

$renderer-&gt;addDefaultParam('example', 'foo', 'template default foo');
$renderer-&gt;addDefaultParam('example', 'bar', 'template default bar');

$content = $renderer-&gt;render('example', [
    'foo' =&gt; 'override',
]);</code></pre>

<p>Then we can expect the following substitutions will occur when rendering:</p>
<ul>
<li>References to the "foo" variable will contain "override".</li>
<li>References to the "bar" variable will contain "template default bar".</li>
<li>References to the "baz" variable will contain "bat".</li>
</ul>
<blockquote>
<h4 id="support-for-default-params">Support for default params</h4>
<p>The support for default params will often be renderer-specific. The reason is
because the <code>render()</code> signature does not specify a type for <code>$params</code>, in
order to allow passing alternative arguments such as view models. In such
cases, the implementation will indicate its behavior when default parameters
are specified, but a given <code>$params</code> argument does not support it.</p>
<p>At the time of writing, each of the Plates, Twig, and zend-view
implementations support the feature.</p>
</blockquote>

<hr />


<nav>
  <ul class="pager hidden-print">
    <li class="previous">
      <a rel="prev" href="../intro/"><i class="fa fa-arrow-left"></i> Previous</a>
    </li>
    <li class="next">
      <a rel="next" href="../middleware/">Next <i class="fa fa-arrow-right"></i></a>
    </li>
  </ul>
</nav>
</div>
        
    </div>
    <!-- content:end -->

    <div id="footerwrap">
    <div class="container">
        <div class="row site-map">
            <div class="col-lg-3">
              <p>
                <strong>Zend Framework</strong><br />
                <a href="http://framework.zend.com/">framework.zend.com</a><br />
                <a href="https://docs.zendframework.com">docs.zendframework.com</a><br />
                <a href="https://packages.zendframework.com">packages.zendframework.com</a><br />
                <a href="https://apigility.org">apigility.org</a><br />
              </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 centered">
                <a class="back-to-top" href="#page-top"><i class="fa fa-chevron-circle-up fa-4" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="spacing"></div>

        <div class="row">
            <div class="col-lg-8">
                <h4>Copyright</h4>
                <div class="hline-w"></div>

                <p>&copy; 2006-2016 by <a href="http://www.zend.com">Zend</a>, a <a href="http://www.roguewave.com/">Rogue Wave Company</a>.</p>
            </div>

            <div class="col-lg-4">
                <h4>Contacts</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="irc://irc.freenode.net/zftalk" class="btn-social btn-outline" alt="IRC" title="IRC"><i class="fa fa-comment"></i></a>
                    <a href="https://github.com/zendframework" class="btn-social btn-outline" alt="Github" title="Github"><i class="fa fa-github"></i></a>
                    <a href="https://twitter.com/zfdevteam" class="btn-social btn-outline" alt="Twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>


    <script src="//cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo=" crossorigin="anonymous"></script>
    <script>var base_url = '../../..';</script>
    <script src="../../../js/scripts-8b95ab2fc3.js"></script>
    <script data-main="../../../mkdocs/js/search.js" src="../../../mkdocs/js/require.js"></script>

    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                </div>
                <div class="modal-body">
                    <p>
                        From here you can search these documents. Enter your search terms below.
                    </p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                        </div>
                    </form>
                    <div id="mkdocs-search-results"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="zf-components">
  <div class="zf-components-grid">
    <div class="zf-logo">
      <a href="http://framework.zend.com" data-toggle="tooltip" data-placement="bottom" title="Go to the ZF homepage"><img src="../../../img/zf-logo-mark.svg" alt="Zend Framework" width="250" /></a>
    </div>

    <div class="component-list"></div>

    <p class="zf-components-rollup"><a href="#">Hide list</a></p>
  </div>
</div>

</body>

</html>
