<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PSR-15 Middleware in Minutes">  
    <link rel="canonical" href="https://docs.zendframework.com/v3/features/template/twig/">
    <link rel="shortcut icon" href="../../../../img/favicon.ico">

    <title>Using Twig - Expressive - Zend Framework Docs</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link href="../../../../css/zend-expressive.css" rel="stylesheet">
</head>
<body id="page-top">

    
    <div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">

            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            
            <span class="navbar-brand">
                <a class="logo-link" href="https://framework.zend.com/" data-tooltip data-placement="bottom" title="Go to the ZF homepage">
                    <img src="../../../../img/zend-framework-logo.svg" height="28" alt="Zend Framework">
                </a>
            </span>
        </div>

        <div class="navbar-collapse collapse">

            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://framework.zend.com/about">About</a>
                </li>
                <li>
                    <a href="https://framework.zend.com/downloads">Install</a>
                </li>
                <li class="active">
                    <a href="https://docs.zendframework.com">Documentation</a>
                </li>
                <li>
                    <a href="https://www.zend.com/en/services/training">Training</a>
                </li>
                <li>
                    <a href="https://framework.zend.com/blog">Blog</a>
                </li>
                <li>
                    <a href="https://framework.zend.com/participate">Participate</a>
                </li>
            </ul>

            
            
                <div class="nav navbar-nav navbar-collapse visible-xs-block ">
                    
    <div class="subnavigation hidden-print">
        <h4 class="subnavigation__title">
            <a href="../../../..">Expressive</a>
        </h4>

        <h5 class="subnavigation__subtitle">Table of Contents</h5>

        <ul class="subnavigation__list">
            

                
                
                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Getting Started</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../getting-started/features/" class="subnavigation__link">Overview and Features</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../getting-started/quick-start/" class="subnavigation__link">Quick Start</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Features</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware-types/" class="subnavigation__link">Middleware Types</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../application/" class="subnavigation__link">Applications</a>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Containers</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/factories/" class="subnavigation__link">Container Factories</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/delegator-factories/" class="subnavigation__link">Delegator Factories</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/middleware-container/" class="subnavigation__link">The Middleware Container</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/middleware-factory/" class="subnavigation__link">The Middleware Factory</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/zend-servicemanager/" class="subnavigation__link">Using zend-servicemanager</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/pimple/" class="subnavigation__link">Using Pimple</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/aura-di/" class="subnavigation__link">Using Aura.Di</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/config/" class="subnavigation__link">Container configuration</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Routing Adapters</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/interface/" class="subnavigation__link">Routing Interface</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/route-collector/" class="subnavigation__link">The Route Collector</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/uri-generation/" class="subnavigation__link">URI Generation</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/piping/" class="subnavigation__link">Routing vs Piping</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/aura/" class="subnavigation__link">Using Aura</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/fast-route/" class="subnavigation__link">Using FastRoute</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/zf2/" class="subnavigation__link">Using zend-router</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Templating</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../interface/" class="subnavigation__link">Template Renderer Interface</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../request-handlers/" class="subnavigation__link">Templated Request Handlers</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../plates/" class="subnavigation__link">Using Plates</a>
    </li>

            
                
    <li class="subnavigation__list-item subnavigation__list-item--active">
        <a href="./" class="subnavigation__link">Using Twig</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../zend-view/" class="subnavigation__link">Using zend-view</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../error-handling/" class="subnavigation__link">Error Handling</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../modular-applications/" class="subnavigation__link">Modular Applications</a>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Middleware</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/routing-and-dispatch-middleware/" class="subnavigation__link">Routing and Dispatch Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/implicit-methods-middleware/" class="subnavigation__link">Implicit HEAD and OPTIONS Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/method-not-allowed-middleware/" class="subnavigation__link">Returning Method Not Allowed</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Helpers</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/url-helper/" class="subnavigation__link">UrlHelper</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/server-url-helper/" class="subnavigation__link">ServerUrlHelper</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/body-parse/" class="subnavigation__link">Body Parsing Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/content-length/" class="subnavigation__link">Content-Length Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/template-variable-container/" class="subnavigation__link">Template Variable Container</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../emitters/" class="subnavigation__link">Emitters</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Cookbook</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/autowiring-routes-and-pipelines/" class="subnavigation__link">Autowiring routes and pipeline middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-a-base-path/" class="subnavigation__link">Using Expressive from a subdirectory</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/common-prefix-for-routes/" class="subnavigation__link">Prepending a common path to all routes</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/passing-data-between-middleware/" class="subnavigation__link">Passing data between middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/path-segregated-routing/" class="subnavigation__link">Path-segregated routing</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/access-common-data-in-templates/" class="subnavigation__link">Provide Access to Common Data In Templates</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/route-specific-pipeline/" class="subnavigation__link">Route-specific middleware pipelines</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/host-segregated-middleware/" class="subnavigation__link">Segregating middleware by host</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/double-pass-middleware/" class="subnavigation__link">Using double-pass middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/setting-locale-depending-routing-parameter/" class="subnavigation__link">Setting a locale based on a routing parameter</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/setting-locale-without-routing-parameter/" class="subnavigation__link">Setting a locale without a routing parameter</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/debug-toolbars/" class="subnavigation__link">Enabling debug toolbars</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/flash-messengers/" class="subnavigation__link">Flash Messengers</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-custom-view-helpers/" class="subnavigation__link">Registering custom view helpers when using zend-view</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-zend-form-view-helpers/" class="subnavigation__link">Using zend-form view helpers</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Reference</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../why-expressive/" class="subnavigation__link">Why choose Expressive?</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/cli-tooling/" class="subnavigation__link">CLI Tooling</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/expressive-projects/" class="subnavigation__link">Expressive Projects</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/migration/" class="subnavigation__link">Migration</a>
    </li>

            
        </ul>
    </li>

                    
                
            

                
                

                    
                    
                
            

                
                

                    
                    
                
            
        </ul>
    </div>

                </div>
            

            
            <div class="nav navbar-nav navbar-collapse visible-xs-block">
                <div class="component-selector">
    <h4 class="component-selector__title">Components</h4>
    <h5 class="component-selector__subtitle">Find documentation…</h5>
    <select class="form-control component-selector__control">
        <option value="/">Overview</option>
        <optgroup label="Components"></optgroup>
    </select>
</div>
            </div>
        </div>
    </div>
</div>

    
    <header class="header">
    <div class="container">
        <div class="row">

            
            <div class="col-xs-8">
                <h1 class="header__title">
                    Documentation

                    
                        <small class="header__subtitle">Expressive</small>
                    
                </h1>
            </div>

            
            <div class="col-xs-4 text-right">
                
                    
<div class="version-selector">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
                v3
            
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            
                
                    <li class="dropdown-menu__item dropdown-menu__item--selected">
                        <a href="../../../..">
                            
                                v3 (latest)
                            
                        </a>
                    </li>
                
            
                
                    <li class="dropdown-menu__item">
                        <a href="../../../../v2/">
                            
                                v2
                            
                        </a>
                    </li>
                
            
                
                    <li class="dropdown-menu__item">
                        <a href="../../../../v1/">
                            
                                v1
                            
                        </a>
                    </li>
                
            
        </ul>
    </div>
</div>


                    <a href="#" class="header__link header__link--search" data-toggle="modal" data-target="#mkdocs_search_modal" title="Open search">
                        <i class="fa fa-search"></i> Search
                    </a>
                    <a href="https://github.com/zendframework/zend-expressive/" class="header__link header__link--github" title="Go to repository of Expressive">
                        <i class="fa fa-github"></i> GitHub
                    </a>
                
            </div>
        </div>
    </div>
</header>

    
    <div class="laminas-announcement">
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><strong>
                This package has moved. Visit its replacement, <a href="https://docs.mezzio.dev/mezzio/">mezzio/mezzio.</a>
            </strong></div>
        </div>
    </div>
</div>

    
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12 content" role="main">
            <!-- content:begin -->
                
                    <ol class="breadcrumb" role="navigation" aria-label="breadcrumbs navigation">
    <li><a href="https://framework.zend.com/">Home</a></li>

    
        <li><a href="https://docs.zendframework.com/">Documentation</a></li>

        
            <li><a href="../../../..">Expressive</a></li>

            
                
                    
                    
                
            
                
                    
                    
                        <li>Features</li>
                    
                
            
                
                    
                    
                        <li>Templating</li>
                    
                
            

            <li class="active">Using Twig</li>
        
    
</ol>






    
    
        <h2 class="chapter__headline">Templating</h2>
    

    <div>
        
    

    
    
        <div class="toc">
            <h6 class="toc__headline">In This Article</h6>
            <ul class="toc__list">
                
                    <li class="toc__entry">
                        <a href="#installing-twig" class="toc__link">Installing Twig</a>
                    </li>
                
                    <li class="toc__entry">
                        <a href="#using-the-wrapper" class="toc__link">Using the wrapper</a>
                    </li>
                
                    <li class="toc__entry">
                        <a href="#included-extensions-and-functions" class="toc__link">Included extensions and functions</a>
                    </li>
                
                    <li class="toc__entry">
                        <a href="#configuration" class="toc__link">Configuration</a>
                    </li>
                
            </ul>
        </div>
    

    </div>

    <h1 id="using-twig">Using Twig</h1>
<p><a href="http://twig.sensiolabs.org/">Twig</a> is a template language and engine provided
as a standalone component by SensioLabs. It provides:</p>
<ul>
<li>Layout facilities.</li>
<li>Template inheritance.</li>
<li>Helpers for escaping, and the ability to provide custom helper extensions.</li>
</ul>
<p>We provide a <a href="../interface/">TemplateRendererInterface</a> wrapper for Twig via
<code>Zend\Expressive\Twig\TwigRenderer</code>.</p>
<h2 id="installing-twig">Installing Twig</h2>
<p>To use the Twig wrapper, you must first install the Twig integration:</p>
<pre><code class="language-bash">$ composer require zendframework/zend-expressive-twigrenderer
</code></pre>

<h2 id="using-the-wrapper">Using the wrapper</h2>
<p>If instantiated without arguments, <code>Zend\Expressive\Twig\TwigRenderer</code> will create
an instance of the Twig engine, which it will then proxy to.</p>
<pre><code class="language-php">use Zend\Expressive\Twig\TwigRenderer;

$renderer = new TwigRenderer();
</code></pre>

<p>Alternately, you can instantiate and configure the engine yourself, and pass it
to the <code>Zend\Expressive\Twig\TwigRenderer</code> constructor:</p>
<pre><code class="language-php">use Twig_Environment;
use Twig_Loader_Array;
use Zend\Expressive\Twig\TwigRenderer;

// Create the engine instance:
$loader = new Twig_Loader_Array(include 'config/templates.php');
$twig = new Twig_Environment($loader);

// Configure it:
$twig-&gt;addExtension(new CustomExtension());
$twig-&gt;loadExtension(new CustomExtension();

// Inject:
$renderer = new TwigRenderer($twig);
</code></pre>

<h2 id="included-extensions-and-functions">Included extensions and functions</h2>
<p>The included Twig extension adds support for url generation. The extension is
automatically activated if the <a href="../../helpers/url-helper/">UrlHelper</a> and
<a href="../../helpers/server-url-helper/">ServerUrlHelper</a> are registered with the
container.</p>
<p>The following template functions are exposed:</p>
<ul>
<li><code>path</code>: Render the relative path for a given route and parameters. If there
  is no route, it returns the current path.</li>
</ul>
<pre><code class="language-twig">  {{ path('article_show', {'id': '3'}) }}
  Generates: /article/3
</code></pre>

<ul>
<li><code>url</code>: Render the absolute url for a given route with its route parameters,
  query string arguments, and fragment. If there is no route, it returns the
  current url.</li>
</ul>
<pre><code class="language-twig">  {{ url('article_show', {'id': '3'}, {'foo': 'bar'}, 'fragment') }}
  Generates: http://example.com/article/3?foo=bar#fragment
</code></pre>

<ul>
<li><code>absolute_url</code>: Render the absolute url from a given path. If the path is
  empty, it returns the current url.</li>
</ul>
<pre><code class="language-twig">  {{ absolute_url('path/to/something') }}
  Generates: http://example.com/path/to/something
</code></pre>

<ul>
<li><code>asset</code> Render an (optionally versioned) asset url.</li>
</ul>
<pre><code class="language-twig">  {{ asset('path/to/asset/name.ext', version=3) }}
  Generates: path/to/asset/name.ext?v=3
</code></pre>

<p>To get the absolute url for an asset:</p>
<pre><code class="language-twig">  {{ absolute_url(asset('path/to/asset/name.ext', version=3)) }}
  Generates: http://example.com/path/to/asset/name.ext?v=3
</code></pre>

<h2 id="configuration">Configuration</h2>
<p>The following details configuration specific to Twig, as consumed by the
<code>TwigRendererFactory</code>:</p>
<pre><code class="language-php">return [
    'templates' =&gt; [
        'extension' =&gt; 'file extension used by templates; defaults to html.twig',
        'paths' =&gt; [
            // namespace / path pairs
            //
            // Numeric namespaces imply the default/main namespace. Paths may be
            // strings or arrays of string paths to associate with the namespace.
        ],
    ],
    'twig' =&gt; [
        'autoescape' =&gt; 'html', // Auto-escaping strategy [html|js|css|url|false]
        'cache_dir' =&gt; 'path to cached templates',
        'assets_url' =&gt; 'base URL for assets',
        'assets_version' =&gt; 'base version for assets',
        'extensions' =&gt; [
            // extension service names or instances
        ],
        'globals' =&gt; [
            // Global variables passed to twig templates
            'ga_tracking' =&gt; 'UA-XXXXX-X'
        ],
        'optimizations' =&gt; -1, // -1: Enable all (default), 0: disable optimizations
        'runtime_loaders' =&gt; [
            // runtime loader names or instances
        ],
        'timezone' =&gt; 'default timezone identifier, e.g. America/New_York',
        'auto_reload' =&gt; true, // Recompile the template whenever the source code changes
    ],
];
</code></pre>

<p>When specifying the <code>twig.extensions</code> values, always use fully qualified class
names or actual extension instances to ensure compatibility with any version of
Twig used. Version 2 of Twig <em>requires</em> that a fully qualified class name is
used, and not a short-name alias.</p>




    <nav>
    <ul class="page-nav hidden-print">

        
        <li class="page-nav__item">
            
                <a rel="prev" class="page-nav__link page-nav__link--prev" href="../plates/">
                    <i class="fa fa-chevron-left"></i> Previous
                </a>
            
        </li>

        
        <li class="page-nav__item">
            
                <a rel="next" class="page-nav__link page-nav__link--next" href="../zend-view/">
                    Next <i class="fa fa-chevron-right"></i>
                </a>
            
        </li>
    </ul>
</nav>




    <div class="help-wanted">
        <p>
            Found a mistake or want to contribute to the documentation?
            <a href="https://github.com/zendframework/zend-expressive/edit/master/docs/book/v3/features/template/twig.md" target="_blank" class="help-wanted__link">
                Edit this page on GitHub!
            </a>
        </p>
    </div>

                
            <!-- content:end -->
            </div>
            <div class="col-md-3 col-xs-12 sidebar">
                
                    <div class="component-selector">
    <h4 class="component-selector__title">Components</h4>
    <h5 class="component-selector__subtitle">Find documentation…</h5>
    <select class="form-control component-selector__control">
        <option value="/">Overview</option>
        <optgroup label="Components"></optgroup>
    </select>
</div>
                    
    <div class="subnavigation hidden-print">
        <h4 class="subnavigation__title">
            <a href="../../../..">Expressive</a>
        </h4>

        <h5 class="subnavigation__subtitle">Table of Contents</h5>

        <ul class="subnavigation__list">
            

                
                
                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Getting Started</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../getting-started/features/" class="subnavigation__link">Overview and Features</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../getting-started/quick-start/" class="subnavigation__link">Quick Start</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Features</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware-types/" class="subnavigation__link">Middleware Types</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../application/" class="subnavigation__link">Applications</a>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Containers</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/factories/" class="subnavigation__link">Container Factories</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/delegator-factories/" class="subnavigation__link">Delegator Factories</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/middleware-container/" class="subnavigation__link">The Middleware Container</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/middleware-factory/" class="subnavigation__link">The Middleware Factory</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/zend-servicemanager/" class="subnavigation__link">Using zend-servicemanager</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/pimple/" class="subnavigation__link">Using Pimple</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/aura-di/" class="subnavigation__link">Using Aura.Di</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../container/config/" class="subnavigation__link">Container configuration</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Routing Adapters</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/interface/" class="subnavigation__link">Routing Interface</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/route-collector/" class="subnavigation__link">The Route Collector</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/uri-generation/" class="subnavigation__link">URI Generation</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/piping/" class="subnavigation__link">Routing vs Piping</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/aura/" class="subnavigation__link">Using Aura</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/fast-route/" class="subnavigation__link">Using FastRoute</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../router/zf2/" class="subnavigation__link">Using zend-router</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Templating</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../interface/" class="subnavigation__link">Template Renderer Interface</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../request-handlers/" class="subnavigation__link">Templated Request Handlers</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../plates/" class="subnavigation__link">Using Plates</a>
    </li>

            
                
    <li class="subnavigation__list-item subnavigation__list-item--active">
        <a href="./" class="subnavigation__link">Using Twig</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../zend-view/" class="subnavigation__link">Using zend-view</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../error-handling/" class="subnavigation__link">Error Handling</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../modular-applications/" class="subnavigation__link">Modular Applications</a>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Middleware</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/routing-and-dispatch-middleware/" class="subnavigation__link">Routing and Dispatch Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/implicit-methods-middleware/" class="subnavigation__link">Implicit HEAD and OPTIONS Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../middleware/method-not-allowed-middleware/" class="subnavigation__link">Returning Method Not Allowed</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Helpers</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/intro/" class="subnavigation__link">Introduction</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/url-helper/" class="subnavigation__link">UrlHelper</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/server-url-helper/" class="subnavigation__link">ServerUrlHelper</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/body-parse/" class="subnavigation__link">Body Parsing Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/content-length/" class="subnavigation__link">Content-Length Middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../helpers/template-variable-container/" class="subnavigation__link">Template Variable Container</a>
    </li>

            
        </ul>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../emitters/" class="subnavigation__link">Emitters</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Cookbook</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/autowiring-routes-and-pipelines/" class="subnavigation__link">Autowiring routes and pipeline middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-a-base-path/" class="subnavigation__link">Using Expressive from a subdirectory</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/common-prefix-for-routes/" class="subnavigation__link">Prepending a common path to all routes</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/passing-data-between-middleware/" class="subnavigation__link">Passing data between middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/path-segregated-routing/" class="subnavigation__link">Path-segregated routing</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/access-common-data-in-templates/" class="subnavigation__link">Provide Access to Common Data In Templates</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/route-specific-pipeline/" class="subnavigation__link">Route-specific middleware pipelines</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/host-segregated-middleware/" class="subnavigation__link">Segregating middleware by host</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/double-pass-middleware/" class="subnavigation__link">Using double-pass middleware</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/setting-locale-depending-routing-parameter/" class="subnavigation__link">Setting a locale based on a routing parameter</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/setting-locale-without-routing-parameter/" class="subnavigation__link">Setting a locale without a routing parameter</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/debug-toolbars/" class="subnavigation__link">Enabling debug toolbars</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/flash-messengers/" class="subnavigation__link">Flash Messengers</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-custom-view-helpers/" class="subnavigation__link">Registering custom view helpers when using zend-view</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../cookbook/using-zend-form-view-helpers/" class="subnavigation__link">Using zend-form view helpers</a>
    </li>

            
        </ul>
    </li>

                    
                        
    <li class="subnavigation__list-item">
        <span class="subnavigation__headline">Reference</span>
        <ul class="subnavigation__list">
            
                
    <li class="subnavigation__list-item ">
        <a href="../../../why-expressive/" class="subnavigation__link">Why choose Expressive?</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/cli-tooling/" class="subnavigation__link">CLI Tooling</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/expressive-projects/" class="subnavigation__link">Expressive Projects</a>
    </li>

            
                
    <li class="subnavigation__list-item ">
        <a href="../../../reference/migration/" class="subnavigation__link">Migration</a>
    </li>

            
        </ul>
    </li>

                    
                
            

                
                

                    
                    
                
            

                
                

                    
                    
                
            
        </ul>
    </div>

                
            </div>
        </div>
    </div>

    
    <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h5>Zend Framework</h5>
                <ul>
                    <li><a href="https://framework.zend.com/">framework.zend.com</a></li>
                    <li><a href="https://docs.zendframework.com">docs.zendframework.com</a></li>
                    <li><a href="https://packages.zendframework.com">packages.zendframework.com</a></li>
                    <li><a href="https://apigility.org">apigility.org</a></li>
                    <li><a href="https://getexpressive.org/">getexpressive.org</a></li>
                </ul>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="footer__button" href="#page-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="row">

            
            <div class="col-md-9">
                <h4 class="footer__headline">Copyright</h4>
                <p>&copy; 2006-2020 by <a href="https://www.zend.com/">Zend</a> by <a href="https://www.perforce.com/">Perforce</a>.</p>
            </div>

            
            <div class="col-md-3">
                <h4 class="footer__headline">Support</h4>
                <ul class="support__list">
                    <li class="support__list-item">
                        <a href="https://discourse.laminas.dev" class="support__link" title="Forum"><i class="fa fa-comments"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://laminas.dev/chat/" class="support__link" title="Chat"><i class="fa fa-slack"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://github.com/zendframework" class="support__link" title="Github"><i class="fa fa-github"></i></a>
                    </li>
                    <li class="support__list-item">
                        <a href="https://twitter.com/zfdevteam" class="support__link" title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<nav class="cookie-bar navbar navbar-fixed-bottom navbar-default hidden">
    <div class="container">
        <p class="navbar-text">
            We use cookies to allow you to dismiss dialogs such as the Laminas
            Project notification.
        </p>
        <button type="button" class="cookie-button btn btn-default navbar-btn">Allow Cookies</button>
    </div>
</nav>

    <script>
        var base_url = '../../../..',
            siteName = 'Expressive';
    </script>
    <script src="/js/scripts.js"></script>
    <script src="../../../../search/main.js"></script>

    
    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                </div>
                <div class="modal-body">
                    <p>
                        From here you can search these documents. Enter your search terms below.
                    </p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                        </div>
                    </form>
                    <div id="mkdocs-search-results"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>



</body>


</html>
