<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="zend-expressive-response-factory">
            <file>./test/Container/ResponseFactoryFactoryWithoutDiactorosTest.php</file>
            <file>./test/Container/ServerRequestFactoryFactoryWithoutDiactorosTest.php</file>
            <file>./test/Container/StreamFactoryFactoryWithoutDiactorosTest.php</file>
        </testsuite>
        <testsuite name="zend-expressive">
            <directory>./test</directory>
            <exclude>./test/Container/ResponseFactoryFactoryWithoutDiactorosTest.php</exclude>
            <exclude>./test/Container/ServerRequestFactoryFactoryWithoutDiactorosTest.php</exclude>
            <exclude>./test/Container/StreamFactoryFactoryWithoutDiactorosTest.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
