.features .panel-content {
  padding: 0.5em;
  text-align: center;
}

.features .panel-content img {
  height: 128px;
}

.screenshot {
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-color: #018D74;
  color: white;
}

.content .jumbotron h1 {
  color: white;
  border-bottom: 0;
}
